* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: rgba(34, 44, 65, 1);
  --text-violet-color: rgba(105, 106, 222, 1);
  --aqua-color: rgba(32, 198, 178, 1);
  --violet-color: rgba(179, 178, 255, 1);
  --gray-color: rgba(224, 224, 224, 0.5);
  --todo-color: rgba(255, 181, 188, 1);
  --in-progress-color: rgba(173, 166, 223, 1);
  --done-color: rgba(181, 255, 181, 1);
}
